<component name="libraryTable">
  <library name="springJar">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/springJar/com.springsource.org.apache.log4j-1.2.15.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-web-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-jdbc-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/commons-dbcp-1.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-webmvc-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-core-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/mysql-connector-java-5.1.17-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-context-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-beans-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-aop-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-tx-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-expression-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-aspects-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/commons-dbcp.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/com.springsource.org.aopalliance-1.0.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-test-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/spring-webmvc-portlet-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springJar/com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>